# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.pyc
*.pyo
*.pym

# Virtual Environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# dotenv or secret configs
.env
.env.example
.gitignore
config.py

# Docker
*.dockerignore
docker-compose.override.yml
